---
title: "Kaomoji"
layout: "layout"
---

<header class="bit-root">
  <h1>{{ title }}</h1>

  <nav class="link-container bit-card">
    {% for name, section in kaomoji %}
    <a class="bit-link" href="#{{ name | lower }}">{{ name }}</a>
    {% endfor %}
  </nav>
</header>

<main>
  <p>Click to copy a kaomoji to your clipboard.</p>

  {% for name, section in kaomoji %}
  <section id="{{ name | lower }}">
    <h2>
      <a class="bit-link no-underline" href="#{{ name | lower }}">{{ name }}</a>
    </h2>
    <div class="button-container">
      {% for item in section %}
      <button class="bit-button theme-kaomoji" aria-label="Copy to clipboard">
        {{ item }}
      </button>
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</main>

<div hidden role="alert" class="toast bit-root theme-inverse" id="toast">
  Copied to clipboard
</div>

<nav class="back-to-top">
  <a
    href="#"
    class="bit-root theme-inverse"
    aria-label="Back to top"
    title="Back to top"
    >&uarr;</a
  >
</nav>

<footer>
  &copy; {{ year }}
  <a href="https://www.wavebeem.com" class="bit-link">Brian Mock</a>
</footer>
